{% extends "main/base.html" %}
{% block body %}
    <a class="btn btn-primary btn-lg btn-block" href="{{ url_for("product.find_product") }}">بحث منتج اخر</a>
    {% if current_user.IsAdmin() %}
        <a class="btn btn-primary btn-lg btn-block" href="{{ url_for("main.admin_panel") }}">الادارة</a>
    {% endif %}
    <br>

    <table class="table table-hover table-dark">
      <thead>
        <tr>
            <th scope="col">مسلسل رقم</th>
            <th scope="col">اسم المنتج</th>
            <th scope="col">الكمية</th>
            <th scope="col">السعر</th>
            <th scope="col">اسم المشتري</th>
            <th scope="col">الفلوس اللي دفعها</th>
            <th scope="col">خصم له</th>
            <th scope="col">التاريخ</th>
            <th scope="col">اسم المستخدم الذي اضاف المنتج</th>
        </tr>
      </thead>
      <tbody>
      {% if products %}
          {% for product in products %}

              <tr>
                  <td> <a href="{{ url_for("product.product_edit", product_id = product[1].id, place = "product.find_product") }}"> {{ product[0] }} </a> </td>
                  <td> <a href="{{ url_for("product.product_edit", product_id = product[1].id, place = "product.find_product") }}"> {{ product[1].name }} </a> </td>
                  <td> <a href="{{ url_for("product.product_edit", product_id = product[1].id, place = "product.find_product") }}"> {{ product[1].quantity }} </a> </td>
                  <td> <a href="{{ url_for("product.product_edit", product_id = product[1].id, place = "product.find_product") }}"> {{ product[1].price }} </a> </td>
                  {% if current_user.IsAdmin() %}
                        <td> <a href="{{ url_for("buyer.buyer_edit_admin_user", buyer_id= product[2].id, place = "main.admin_panel") }}"> {{ product[2].name }} </a> </td>
                        <td> <a href="{{ url_for("buyer.buyer_edit_admin_user", buyer_id= product[2].id, place = "product.find_product") }}"> {{ product[1].pay_quantity }} </a> </td>
                        <td> <a href="{{ url_for("buyer.buyer_edit_admin_user", buyer_id= product[2].id, place = "product.find_product") }}"> {{ product[2].discount }} </a> </td>
                  {% else %}
                        <td> <a href="{{ url_for("buyer.buyer_edit", buyer_id= product[2].id, place = "main.admin_panel") }}"> {{ product[2].name }} </a> </td>
                        <td> <a href="{{ url_for("buyer.buyer_edit", buyer_id= product[2].id, place = "product.find_product") }}"> {{ product[1].pay_quantity }} </a> </td>
                        <td> <a href="{{ url_for("buyer.buyer_edit", buyer_id= product[2].id, place = "product.find_product") }}"> {{ product[2].discount }} </a> </td>
                  {% endif %}
                        <td> <a href="{{ url_for("product.product_edit", product_id = product[1].id, place = "product.find_product") }}"> {{ product[1].date.strftime("%Y-%m-%d") }} </a> </td>
                  {% if current_user.IsAdmin() %}
                      <td> <a href="{{ url_for("user.user_info", user_id = product[3].id) }}"> {{ product[3].name }} </a> </td>
                  {% else %}
                      <td> <a> {{ current_user.name }} </a> </td>
                  {% endif %}
            </tr>

          {% endfor %}

      {% else %}
        <h1>لا يوجد منتجات انشاءتها لهذا المستخدم لتغيرها</h1>
      {% endif %}

      </tbody>
    </table>
{#    {% for page_num in products.iter_pages(left_edge= 1, right_edge = 1, left_current = 1, right_current= 2) %}#}
{#        {% if page_num %}#}
{#            {% if page_num == products.page %}#}
{#                <a class="btn btn-info mb-4" href="{{ url_for("product.display_all_products", page = page_num, buyer_id = buyer.id, list_ids = products.items) }}">{{ page_num }}</a>#}
{#            {% else %}#}
{#                <a class="btn btn-outline-info" href="{{ url_for("product.display_all_products", page = page_num, buyer_id = buyer.id, list_ids = products.items) }}">{{ page_num }}</a>#}
{#            {% endif %}#}
{#        {% else %}#}
{#                ...#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#    <br>#}
{% endblock %}