{% extends "base.html" %}
{% block body %}
    <div class="container">
        <a href="{{ url_for("make_buyer") }}">
            <div class="btn btn-primary btn-lg btn-block">انشاء مشتري </div>
        </a>
        <br>
        <a href="{{ url_for("add_products") }}">
            <div class="btn btn-primary btn-lg btn-block">ادخال مشتريات </div>
        </a>
        <br>
        <a href="{{ url_for("account_statement") }}">
            <div class="btn btn-primary btn-lg btn-block">كشف حساب </div>
        </a>
        <br>
        <a href="{{ url_for("get_buyer_name") }}">
            <div class="btn btn-primary btn-lg btn-block">تغير بيانات مشتري </div>
        </a>
        <br>
    </div>
{% endblock %}