{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class = "content-section">
            <form method="post" action="" novalidate>
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">اختار تاريخ</legend>
                    <div class="form-group" >
                        {{ form.date.label(class = "form-control-label") }}
                        {% if form.date.errors %}
                            {{ form.date(class = "form-control is-invalid") }}
                            <div class = "invalid-feedback">
                                {% for error in form.date.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.date(class = "form-control") }}
                        {% endif %}
                    </div>

                    {{ form.submit(class="btn btn-primary btn-lg btn-block") }}

                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
