{% extends "base.html" %}
{% block body %}

    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">مسلسل رقم</th>
            <th scope="col">اسم المنتج</th>
            <th scope="col">الكمية</th>
            <th scope="col">السعر</th>
            <th scope="col">الفلوس اللي دفعها</th>
            <th scope="col">خصم له</th>
            <th scope="col">التاريخ</th>
            <th scope="col">اسم المشتري</th>
            <th scope="col">اسم المستخدم</th>
        </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td> <a href="{{ url_for("product_edit_admin", product_id = product[9]) }}"> {{ product[4] }} </a> </td>
                    <td> <a href="{{ url_for("all_this_product", product_id = product[9]) }}"> {{ product[0] }} </a> </td>
                    <td> <a href="{{ url_for("product_edit_admin", product_id = product[9]) }}"> {{ product[2] }} </a> </td>
                    <td> <a href="{{ url_for("product_edit_admin", product_id = product[9]) }}"> {{ product[3] }} </a> </td>
                    <td> <a href="{{ url_for("product_edit_admin", product_id = product[9]) }}"> {{ product[5] }} </a> </td>
                    <td> <a href="{{ url_for("buyer_edit", buyer_id= product[7].id) }}"> {{ product[7].discount }} </a> </td>
                    <td> <a href="{{ url_for("product_edit_admin", product_id = product[9]) }}"> {{ product[6] }} </a> </td>
                    <td> <a href="{{ url_for("buyer_edit", buyer_id= product[7].id) }}"> {{ product[7].name }} </a> </td>
                    <td> <a a href="{{ url_for("user_info", user_id = product[8].id) }}"> {{ product[8].name }} </a> </td>

                </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}
