{% extends 'main/base.html' %}
{% block body %}

    <div class="container">
        <div class = "content-section">
            <form method="post" action="" novalidate>
                {{ form.hidden_tag() }}

                <fieldset class="form-group">

                    <legend class="border-bottom mb-4">تغير البيانات الشخصية للمستخدم</legend>

                    <div class="form-group">
                        {{ form.username_selected.label(class = "form-control-label") }}
                        {{ form.username_selected(class = "form-control", value = user.name) }}
                    </div>


                    <div class="form-group">
                        {{ form.username.label(class = "form-control-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class = "form-control is-invalid", value = user.name) }}
                            <div class = "invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class = "form-control", value = user.name) }}
                        {% endif %}
                    </div>


                    <div class="form-group">
                        {{ form.phone_num.label(class = "form-control-label") }}
                        {% if form.phone_num.errors %}
                            {{ form.phone_num(class = "form-control is-invalid", value = user.phone_num) }}
                            <div class = "invalid-feedback">
                                {% for error in form.phone_num.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone_num(class = "form-control", value = user.phone_num) }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.salary.label(class = "form-control-label") }}
                        {% if form.salary.errors %}
                            {{ form.salary(class = "form-control is-invalid", value = user.salary) }}
                            <div class = "invalid-feedback">
                                {% for error in form.salary.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.salary(class = "form-control", value = user.salary) }}
                        {% endif %}
                    </div>

                    <div class="form-check">
                        {{ form.admin(class = "form-check-input", value = user.admin) }}
                        {{ form.admin.label(class = "form-check-label")}}
                    </div>
                    <br>

                    {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
                    {% if current_user.IsAdmin() %}

                    <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#deleteModal">مسح المستخدم</button>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">تاكيد مسح المستخدم</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            هل انت متاكد انك تريد ان تمسح هذا المستخدم ؟<br>
                              لاجظ ان كل المدخلات التي ادخلها هذا المستخدم سوف تذهب اليك في حالة مسح هذا المستخدم
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                            <a type="button" href="{{ url_for("user.delete_user", user_id = user.id, place = "main.admin_panel") }}" class="btn btn-danger">تاكيد</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end of modal  -->

                {% endif %}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
