{% extends 'main/base.html' %}
{% block body %}
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">مسلسل رقم</th>
          <th scope="col">اسم المستخدم</th>
          <th scope="col">رقم التليفون</th>
          <th scope="col">المرتب</th>
          <th scope="col">مسؤل</th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
          <tr>

            <td> <a href="{{ url_for("user.user_info", user_id = user[0].id) }}"> {{ user[1] }} </a> </td>

            <td> <a href="{{ url_for("user.user_info", user_id = user[0].id) }}"> {{ user[0].name }} </a> </td>

            {% if user[0].phone_num == "" %}
               <td> <a href="{{ url_for("user.user_info", user_id = user[0].id) }}"> لا يوجد</a> </td>
            {% else %}
               <td> <a href="{{ url_for("user.user_info", user_id = user[0].id) }}"> {{ user[0].phone_num }} </a> </td>
            {% endif %}

               <td> <a href="{{ url_for("user.user_info", user_id = user[0].id) }}"> {{ user[0].salary }} </a> </td>

            {% if user[0].admin %}
                <td> <a href="{{ url_for("user.user_info", user_id = user[0].id) }}"> مسؤل </a> </td>
            {% else %}
                <td> <a href="{{ url_for("user.user_info", user_id = user[0].id) }}">غير مسؤل </a> </td>
            {% endif %}

        </tr>

      {% endfor %}
      </tbody>
    </table>
{% endblock %}


