{% extends "main/base.html" %}
{% block body %}
    <a class="btn btn-primary btn-lg btn-block" href="{{ url_for("buyer.account_statement") }}">كشف حساب اخر</a>

    <a class="btn btn-primary btn-lg btn-block"
    href="{{ url_for("buyer.buyer.make_pdf", buyer_id = buyer_id, user_id = user_id, date_from = date_from, date_to =date_to ) }}">تنزيل كشف الحساب</a>
    {% if current_user.IsAdmin() %}
        <a class="btn btn-primary btn-lg btn-block" href="{{ url_for("main.admin_panel") }}">الادارة</a>
    {% endif %}
    <br>

    <table class="table table-hover table-dark">
      <thead>
        <tr>
            <th scope="col">مسلسل رقم</th>
            <th scope="col">اسم المنتج</th>
            <th scope="col">الكمية</th>
            <th scope="col">السعر</th>
            <th scope="col">اسم المشتري</th>
            <th scope="col">الفلوس اللي دفعها</th>
            <th scope="col">خصم له</th>
            <th scope="col">التاريخ</th>
            <th scope="col">اسم المستخدم الذي اضاف المنتج</th>
        </tr>
      </thead>
      <tbody>
      {% for product in products %}
          <tr>
            <td> <a> {{ product[0] }} </a> </td>
            <td> <a> {{ product[1].name }} </a> </td>
            <td> <a> {{ product[1].quantity }} </a> </td>
            <td> <a> {{ product[1].price }} </a> </td>
            <td> <a> {{ product[2].name }} </a> </td>
            <td> <a> {{ product[1].pay_quantity }} </a> </td>
            <td> <a> {{ product[2].discount }} </a> </td>
            <td> <a> {{ product[1].date.strftime("%Y-%m-%d") }} </a> </td>
            <td> <a> {{ product[3].name }} </a> </td>
        </tr>

      {% endfor %}
      </tbody>
    </table>
{% endblock %}