{% extends 'main/base.html' %}
{% block body %}
    <table class="table table-hover table-dark">
      <thead>
        <tr>
            <th scope="col">مسلسل رقم</th>
            <th scope="col">اسم المشتري</th>
            <th scope="col">الفلوس اللي عليه</th>
            <th scope="col">الفلوس اللي دفعها</th>
            <th scope="col">خصم له</th>
            <th scope="col">رقم التليفون</th>
            <th scope="col">عدد منتجاته</th>
            <th scope="col">المستخدم الذي اضافه</th>
        </tr>
      </thead>
      <tbody>
      {% for buyer in buyers %}
          <tr>

            <td> <a href="{{ url_for("buyer.buyer_edit_admin_user", buyer_id = buyer[5], place = "buyers_display") }}"> {{ buyer[3] }} </a> </td>
            <td> <a href="{{ url_for("buyer.buyer_edit_admin_user", buyer_id = buyer[5], place = "buyers_display") }}"> {{ buyer[0] }} </a> </td>
            <td> <a href="{{ url_for("buyer.buyer_edit_admin_user", buyer_id = buyer[5], place = "buyers_display") }}"> {{ buyer[6] }} </a> </td>
            <td> <a href="{{ url_for("buyer.buyer_edit_admin_user", buyer_id = buyer[5], place = "buyers_display") }}"> {{ buyer[7] }} </a> </td>
            <td> <a href="{{ url_for("buyer.buyer_edit_admin_user", buyer_id = buyer[5], place = "buyers_display") }}"> {{ buyer[2] }} </a> </td>
              {% if buyer[1] %}
            <td> <a href="{{ url_for("buyer.buyer_edit_admin_user", buyer_id = buyer[5], place = "buyers_display") }}"> {{ buyer[1] }} </a> </td>
              {% else %}
            <td> <a href="{{ url_for("buyer.buyer_edit_admin_user", buyer_id = buyer[5], place = "buyers_display") }}"> لا يوجد </a> </td>
              {% endif %}
            <td> <a href="{{ url_for("buyer.buyer_edit_admin_user", buyer_id = buyer[5], place = "buyers_display") }}"> {{ buyer[8] }} </a> </td>
            <td> <a href="{{ url_for("user.user_info", user_id = buyer[4].id, place = "buyers_display") }}"> {{ buyer[4].name }} </a> </td>
        </tr>

      {% endfor %}
      </tbody>
    </table>
{% endblock %}