{% extends 'main/base.html' %}
{% block admin_panel %}
    <a class="dropdown-item" href="{{ url_for("main.home") }}">الرئيسية</a>
{% endblock %}
{% block body %}
    <p class="text-right text-muted">الفلوس في السوق : {{ total_money_in_market }}</p>
    <a href="{{ url_for("user.user_display") }}"><div class="btn btn-primary btn-lg btn-block">عرض المستخدمين</div></a>
    <br>
    <a href="{{ url_for("buyer.buyers_display") }}"><div class="btn btn-primary btn-lg btn-block">عرض المشتريين</div></a>
    <br>
    <a href="{{ url_for("buyer.choose_date") }}"><div class="btn btn-primary btn-lg btn-block">عرض منتجات يوم محدد</div></a>
    <br>
    <a href="{{ url_for("user.signup") }}"><div class="btn btn-primary btn-lg btn-block">انشاء مستخدم جديد</div></a>
    <br>
    <a href="{{ url_for("product.today_sales") }}"><div class="btn btn-primary btn-lg btn-block">عرض مبيعات اليوم</div></a>
    <br>


{% endblock %}

            <!-- sidebar -->
      {% block sidebar %}
          {% if current_user.IsAdmin() %}
              <div class="col-md-4">
                  <div class="content-section">
                      <h3>اخر التحديثات</h3>
                      <p class='text-muted'>
                      <ul class="list-group">

                        {% for i in last_notification %}
                            <li class="list-group-item list-group-item-light">
                                <div class="d-flex w-100 justify-content-between">
                                    <small>{{ i.date.strftime("%Y-%m-%d %H:%M:%S") }}</small>
                                </div>
                                <div class="mb-1">
                                    {{ i.notification_name }}
                                </div>
                            </li>
                        {% endfor %}
                  <br>
                      <a href="{{ url_for("main.display_all_notification") }}"><p class="text-muted">اعرض كل التحديثات</p></a>
                      </ul>
                      </p>
                  </div>
              </div>
          {% endif %}
      {% endblock %}